### Anomoly Detection: Codeup Curriculum Logs

    Created By: Chen Chen Feng & Mijail Mariano

    Data Science, Kalpana Cohort

    25AUGUST2022

----

In [1]:
%matplotlib inline
import matplotlib as mlp
mlp.rcParams['figure.dpi'] = 300

# diasbling warning messages
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

# visualization libraries/modules
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# prepare module for data cleaning/manipulation
import prepare_final

# acquire module for acquiring the Codeup curriculum logs dataset
import acquire_final
from acquire_final import get_logs_dataset  

import env
from env import user, password, host

### ``Data Acquisition & Preparation``

In [2]:
# acquiring curriculum dataset

df = get_logs_dataset()
df.head()

df shape: (900223, 11)

,date,time,endpoint,user_id,cohort_id,ip,name,slack,start_date,end_date,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,#teddy,2018-01-08,2018-05-17,2.0

In [3]:
# cleaning the log dataset

# acquiring endpoint targets
df = prepare_final.get_endpoint_targets(df)

# cleaning the dataset dates
df = prepare_final.clean_dates(df)

# mapping Codeup program ids to program names
df = prepare_final.map_program_id(df)

# cleaning data types and null values in dataset 
df = prepare_final.clean_anomalies(df)

print(f'cleaned dataframe shape: {df.shape}')
df.head()

cleaned dataframe shape: (900223, 14)

,date,time,endpoint,user_id,cohort_id,ip,name,slack,start_date,end_date,program_id,class,topic,program_type
datetime,,,,,,,,,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0,None,None,FS_PHP_program
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0,java-ii,None,FS_PHP_program
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0,java-ii,object-oriented-programming,FS_PHP_program
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,1.0,slides,object_oriented_programming,FS_PHP_program
2018-01-26 09:56:24,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,#teddy,2018-01-08,2018-05-17,2.0,javascript-i,conditionals,FS_JAVA_program

In [5]:
# variable/feature information

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          900223 non-null  object
 1   time          900223 non-null  object
 2   endpoint      900222 non-null  object
 3   user_id       900223 non-null  object
 4   cohort_id     847330 non-null  float64
 5   ip            900223 non-null  object
 6   name          847330 non-null  object
 7   slack         847330 non-null  object
 8   start_date    847330 non-null  object
 9   end_date      847330 non-null  object
 10  program_id    847330 non-null  object
 11  class         849909 non-null  object
 12  topic         681558 non-null  object
 13  program_type  847330 non-null  object
dtypes: float64(1), object(13)
memory usage: 103.0+ MB

----
### ``Students' Most Frequent Lessons Visited and Revisited: While Attending & Post Codeup``

#### ``While Attending Codeup:``